## Practical No.6: Write a Pandas program to implement following operation
### • to convert a NumPy array to a Pandas series

In [ ]:
# Name : Kishan B. Lashkari
# Erollment : 216270307002

import pandas as pd
import numpy as np

seri = pd.Series();

d = np.array(['K', 'i', 's', 'h', 'a','n']) 
print(d)

s = pd.Series(d)

print("Pandas Series:\n",s)

### • to convert the first column of a DataFrame as a Series

In [ ]:
# Name : Kishan B. Lashkari
# Erollment : 216270307002

import pandas as pd 

dframe = pd.DataFrame() 
print(dframe)

lst = ['Kishan', 'B', 'Lashkari'] 

dframe = pd.DataFrame(lst) 
print("Dataframe")

print(dframe)

### • to create the mean and standard deviation of the data of a given Series

In [ ]:
# Name : Kishan B. Lashkari
# Erollment : 216270307002

import numpy as np
import pandas as pd

s = pd.Series(data=[9,6,6,4,8,6,9,4,0,5])
print("Original Series : - ",s)

a = s.mean();
print("Mean Value : - ",a)

b = s.std();
print("Standard Deviation : - ",b)

### • to sort a given Series

In [ ]:
# Name : Kishan B. Lashkari
# Erollment : 216270307002

import pandas as pd
str = pd.Series([9.5, 16.8, 22.78, 20.124, 18.1002])

print(str)

a = str.sort_values(ascending=True)
print(a)